{% extends "base.html" %}
{% block content %}


      <div class="row">

        <div class="col-md-12">

            <div class="jumbotron">

                <div class="row">
                    <div class="col-md-12">
                        <h2 class="no-margin">Edit Item</h2>
                    </div>

                </div>

                <hr>

                <div class="row is-flex">

                        <div class="col-sm-6 col-lg-4 col-md-4">

                            <form action="#" method="POST">

                                <label for="name">Name:</label>
                                <input type="text" maxlength="80" class="form-control" id="name" name="name" value="{{item.name}}">
                                <br>

                                <label for="description">Description:</label>
                                <textarea maxlength="1000" rows="5" class="form-control text-left" id="description" name="description">
                                    {{item.description}}
                                </textarea>
                                <br>

                                <button type="submit" class="btn btn-success">
                                    Submit
                                </button>
                                <a href="{{url_for('showItem', category_id=category.id, item_id=item.id)}}">
                                    <button type="button" class="btn btn-success">
                                        Cancel
                                    </button>
                                </a>

                            </form>

                        </div>


                </div> <!-- end of row is-flex-->

            </div>

        </div>

    </div>

{% endblock %}